// The URL of the OAuth server
EXPO_PUBLIC_OAUTH_SERVER_URL = '';
// Client ID of the OAuth application registered in the OAuth server
EXPO_PUBLIC_CLIENT_ID = '';
//  redirect URI of the OAuth application registered in the OAuth server
EXPO_PUBLIC_REDIRECT_URI = '';
// Scopes that the OAuth application registered in the OAuth server
EXPO_PUBLIC_SCOPES = '';
// Authorization endpoint of the OAuth server
EXPO_PUBLIC_AUTHORIZATION_ENDPOINT = '';
